<html>
<body>
        <!-- partial:index.partial.html -->
        <script  src="./assets/js/navegacion/navegacion.js"></script>
        <header>
         
          <h1>Tipo de producto</h1>

          <div class="seccion">
          </div>
        </header>
      
        <!--se agrega texto-->
        <section class="main">
          
        </section>
        <!-- partial -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        
        
    

     
    <div>
      <div class="container">

        <h1>Tipo</h1>
      
        <mat-form-field class="example-full-width">
          <mat-label>Id</mat-label>
          <input matInput placeholder="ID_Tipo" [(ngModel)]="tipo.idTipo">
        </mat-form-field>
      
        <br>
      
        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput required placeholder="Nombre" [(ngModel)]="tipo.nameTipo">
      
        </mat-form-field>
      
        <br>
        <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="warn" routerLink="/tipos">Cancelar</button>
        <p>{{mensaje}}</p>
      
      </div>

</div>

<!-- <div class="example-button-container">
  <button mat-mini-fab color="primary" class="boton_personalizado"
    aria-label="Example icon button with a plus one icon" routerLink="/agricultor/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div> -->
<footer>
  <div class="f-b-img">
    <img src="https://i.ibb.co/W0NPQ1N/Organic-Market-Logo.png" alt="logo">
</div>

<div class="f-b-redes"> 
<div>
  <p class="f-b-redes-cr" >Copyright ©2022</p>
  <p class="f-b-redes-sg">Made by PeruInnova</p>
</div>
</div>
</footer>


</body>
</html>
