<html>
<body>
        <!-- partial:index.partial.html -->
        <script  src="./assets/js/navegacion/navegacion.js"></script>
        <header>
         
          <h1>ORDEN</h1>
          <div class="seccion">
          </div>
        </header>
      
        <!--se agrega texto-->
        <section class="main">
          
        </section>
        <!-- partial -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        
        
    

     
    <div>
<div class="container">

    <h1>Orden</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>idOrden</mat-label>
      <input matInput placeholder="idOrden" [(ngModel)]="orden.idOrden">
    </mat-form-field>
    <br>
  
    <mat-form-field class="example-full-width">
        <mat-label>fechaCompra</mat-label>
        <input matInput required placeholder="fechaCompra" [(ngModel)]="orden.fechaCompra">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>fechaEnvio</mat-label>
        <input matInput required placeholder="fechaEnvio" [(ngModel)]="orden.fechaEnvio">
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width">
        <mat-label>fechaEntrega</mat-label>
        <input matInput required placeholder="fechaEntrega" [(ngModel)]="orden.fechaEntrega">
      </mat-form-field>
      <br>
    <mat-form-field class="example-full-width">
      <mat-label>cantidad</mat-label>
      <input matInput required placeholder="cantidad" [(ngModel)]="orden.cantidad">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>idAgricultor</mat-label>
      <input matInput required placeholder="idAgricultor" [(ngModel)]="orden.idAgricultor">
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>id</mat-label>
      <input matInput required placeholder="id" [(ngModel)]="orden.id">
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/publicaciones">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>
</div>

<!-- <div class="example-button-container">
  <button mat-mini-fab color="primary" class="boton_personalizado"
    aria-label="Example icon button with a plus one icon" routerLink="/agricultor/nuevo">
    <mat-icon>plus_one</mat-icon>
  </button>
</div> -->
<footer>
  <div class="f-b-img">
    <img src="https://i.ibb.co/W0NPQ1N/Organic-Market-Logo.png" alt="logo">
</div>

<div class="f-b-redes"> 
<div>
  <p class="f-b-redes-cr" >Copyright ©2022</p>
  <p class="f-b-redes-sg">Made by PeruInnova</p>
</div>
</div>
</footer>


</body>
</html>
