<body>
  <header class="header">
    <div class="container logo-nav">
      <figure class="logo">
        <img src="https://i.ibb.co/W0NPQ1N/Organic-Market-Logo.png" alt="logo" >
        <figcaption class="nombre-logo notranslate">OrganicMarket</figcaption>
    </figure>
        <!--Navigation-->
        <nav class="navbar">
          <ul>
              <li><a routerLink="/agricultor">Agricultores</a></li>
              <li><a routerLink="/orden">Ordenes</a></li>
              <li><a routerLink="/productos">Productos</a></li>
              <li><a routerLink="/tipos">Tipos</a></li>
          </ul>
        </nav>
      
  </div>
</header>
  <table style="width:50% ;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID_Tipo">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.ID_Tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</body>