<div style=" display: grid; place-items: center;">
  <h2>Tabla de Tipos de Productos</h2>
  <table style="width:50% ;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="ID_Tipo">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.ID_Tipo}} </td>
    </ng-container>

    <ng-container matColumnDef="Nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>