<html>
<body>
  <script  src="./assets/js/navegacion/navegacion.js"></script>
        <!-- partial:index.partial.html -->
        <header>
          <span class="menu-anchor" ></span>
          <h1>ACUERDOS</h1>
          <div class="seccion">
          </div>
        </header>
        <menu>
          <ul>
            <figure class="logo">
              <img src="https://i.ibb.co/W0NPQ1N/Organic-Market-Logo.png" alt="logo" >
              <figcaption class="nombre-logo notranslate">Organic Market</figcaption>
            </figure>
            <br><br>
            <li></li>
            <li><a href="http://localhost:4200/productos">Productos</a></li>
            <li><a href="http://localhost:4200/agricultor">Agricultores</a></li>
            <li><a href="http://localhost:4200/persona">Personas</a></li>
            <li><a href="http://localhost:4200/mayoristas">Mayoristas</a></li>
            <li><a href="http://localhost:4200/publicaciones">Publicaciones</a></li>
            <li><a href="http://localhost:4200/detalleorden">Detalle Orden</a></li>
            <li><a href="http://localhost:4200/orden">Ordenes</a></li>
            <li><a href="http://localhost:4200/tipos">Tipos</a></li>
            <li><a href="http://localhost:4200/administrador">Administradores</a></li>         
            <li><a href="http://localhost:4200/acuerdos">Acuerdos</a></li>
            <li><a href="http://localhost:4200/promociones">Promociones</a></li>       
            
            <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
            <li > 	
              <a href="#">Cerrar sesión <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="-2 -1 16 16">
              <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z"/>
              <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
              </svg></a></li>
          </ul>
        </menu>
        <!--se agrega texto-->
        <section class="main">
          
        </section>
        <!-- partial -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        
        
    

     
    <div>
  <table style="width:50% ;" mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Descuento">
      <th mat-header-cell *matHeaderCellDef> Descuento</th>
      <td mat-cell *matCellDef="let element"> {{element.descuento}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="Fecha de inicio">
      <th mat-header-cell *matHeaderCellDef> Fecha de inicio </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaInicio}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Fecha final">
      <th mat-header-cell *matHeaderCellDef> Fecha final </th>
      <td mat-cell *matCellDef="let element"> {{element.fechaFin}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Agricultor ID">
      <th mat-header-cell *matHeaderCellDef> Agricultor ID </th>
      <td mat-cell *matCellDef="let element"> {{element.agricultor.id}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Mayorista ID">
      <th mat-header-cell *matHeaderCellDef> Mayorista ID </th>
      <td mat-cell *matCellDef="let element"> {{element.mayorista.id}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<footer>
  <div class="f-b-img">
    <img src="https://i.ibb.co/W0NPQ1N/Organic-Market-Logo.png" alt="logo">
</div>

<div class="f-b-redes"> 
<div>
  <p class="f-b-redes-cr" >Copyright ©2022</p>
  <p class="f-b-redes-sg">Made by PeruInnova</p>
</div>
</div>
</footer>

</body>
</html>