<div class="container">

    <h1>Agricultor</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>AGRICULTOR</mat-label>
      <input matInput placeholder="id" [(ngModel)]="agricultor.id">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>DIRECCIÓN</mat-label>
      <input matInput required placeholder="direccion" [(ngModel)]="agricultor.direccion">
  
    </mat-form-field>
  
    <br>
    <mat-form-field class="example-full-width">
        <mat-label>ID PERSONA</mat-label>
        <input matInput required placeholder="persona_id_persona" [(ngModel)]="agricultor.persona_id_persona">
      </mat-form-field>
    
      <br>

    
    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/tipos">Cancelar</button>
    <p>{{mensaje}}</p>
  
  </div>
  