<html>
<body>
        <!-- partial:index.partial.html -->
        <script  src="./assets/js/navegacion/navegacion.js"></script>
        <header>
         
          <h1>AGRICULTORES</h1>
          <div class="seccion">
          </div>
        </header>
      
        <!--se agrega texto-->
        <section class="main">
          
        </section>
        <!-- partial -->
        <script src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        
        
    

     
    <div>
<div class="container">

    <h1>Agricultor</h1>
  
    <mat-form-field class="example-full-width">
      <mat-label>AGRICULTOR</mat-label>
      <input matInput placeholder="idAgricultor" [(ngModel)]="agricultor.idAgricultor">
    </mat-form-field>
  
    <br>
  
    <mat-form-field class="example-full-width">
      <mat-label>DIRECCIÓN</mat-label>
      <input matInput required placeholder="direccionAgricultor" [(ngModel)]="agricultor.direccionAgricultor">
  
    </mat-form-field>
  
    <br>
    <!-- 
    <mat-form-field class="example-full-width">
        <mat-label>ID PERSONA</mat-label>
        <input matInput required placeholder="persona" [(ngModel)]="agricultor.persona.nombre">
      </mat-form-field>
    
      <br>
-->
    
      <mat-form-field appearance="fill">
        <mat-label>Seleccione Persona</mat-label>
        <mat-select [(value)]="idPersonaseleccionada" required>
            <mat-option *ngFor="let p of listaPersonas" [value]="p.idPersona">
                {{p.nombrePersona}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <br>

    <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
    <button mat-raised-button color="warn" routerLink="/agricultor">Cancelar</button>
    <p>{{mensaje}}</p>


  
  </div>

 
  </div>

  <!-- <div class="example-button-container">
    <button mat-mini-fab color="primary" class="boton_personalizado"
      aria-label="Example icon button with a plus one icon" routerLink="/agricultor/nuevo">
      <mat-icon>plus_one</mat-icon>
    </button>
  </div> -->
  <footer>
    <div class="f-b-img">
      <img src="https://i.ibb.co/W0NPQ1N/Organic-Market-Logo.png" alt="logo">
  </div>

  <div class="f-b-redes"> 
  <div>
    <p class="f-b-redes-cr" >Copyright ©2022</p>
    <p class="f-b-redes-sg">Made by PeruInnova</p>
</div>
</div>
</footer>

 
</body>
</html>

  